.App {
  margin: 2%;
}

table {
  margin-bottom: 5%;
  border: 1px solid black;
  text-align: left;
  width: 50%;
  border-collapse: collapse;
}

table,
thead,
td,
tr,
th {
  border: 1px solid black;
  padding: 1%;
}
